
<%- include('../partials/header.ejs')%>
<div class="main-body">
    <h2>Welcome, <%=user.firstName%></h2>
    <%if(events.length){%>
        <p>You have created the following stories:</p>
        <%events.forEach(event=>{%>
            <a href="/events/<%=event.id%>"><p><%=event.title%></p></a>
        <%});
    }else{%>
        <p>You have not created any stories</p>
    <%}%>
    <%if(rsvps.length){%>
        <p>You have RSVP'd to the following events:</p>
        <table>
            <tr>
            <th>Title</th>
            <th>Going?</th>
            </tr>
            <%rsvps.forEach(rsvp=>{%>
                <tr>
                    <td>
                        <%eventList.forEach(event=>{%>
                            <%if(event._id == rsvp.event_id){%>
                                <%=event.title%>
                            <%}%>
                        <%})%>
                    </td>
                    <td><%=rsvp.status%></td>
                </tr>
            <%});
        }else{%>
            <p>You are currently RSVP'ed to no events</p>
            <%}%>
        </table>
    </div>
    <%- include('../partials/footer.ejs')%>